.alerts-toggle-label {
  position: absolute;
  z-index: 1;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

.alerts-toggle-label-bell {
  left: 12px;
  opacity: 1;
  pointer-events: all;
}

.alerts-toggle-label-close { right: 12px; }

.alerts-toggle-label:hover {
  color: #333;
  background-color: #ffc107;
}

.alerts-toggle-checkbox:checked + .alerts .alerts-toggle-label {
  opacity: 1;
  pointer-events: all;
}
