.imagebox {
  position: relative;
  overflow: hidden;
}

.imagebox .imagebox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 0, 87, 0.3);
  opacity: 0;
  pointer-events: none;
}

.imagebox.animate .imagebox-overlay { transition: transform 0.3s ease; }

.imagebox .imagebox-overlay p {
  position: relative;
  top: 50%;
  padding: 6px 12px;
  margin: 0;
  font-size: 24px;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
}

.imagebox .imagebox-hoverer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
}

.imagebox .imagebox-content img {
  display: block;
  width: 100%;
}
