.miniplayer {
  position: relative;
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
  max-width: 1024px;
}

.miniplayer .miniplayer-placeholder,
.miniplayer .miniplayer-wrapper {
  position: relative;
  width: calc(100% - 24px);
  transform-origin: bottom right;
}

.miniplayer .miniplayer-placeholder-inner {
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
}

.miniplayer .miniplayer-placeholder {
  position: absolute;
  z-index: 0;
  top: 0;
}

.miniplayer.mini .miniplayer-placeholder { position: relative; }

.miniplayer.mini .miniplayer-wrapper {
  position: fixed;
  right: 32px;
  bottom: 32px;
  margin-top: 0;
  max-width: 400px;
}

.miniplayer.animate .miniplayer-wrapper { transition: transform .25s cubic-bezier(0, 0, 0.3, 1); }

.miniplayer .miniplayer-inner {
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
}

.miniplayer .miniplayer-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 24px 6px #000;
  background-color: #000;
  opacity: 0;
  transition: opacity .25s cubic-bezier(0, 0, 0.3, 1);
}

.miniplayer.mini .miniplayer-shadow { opacity: 0.3; }

.miniplayer .miniplayer-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 98px;
  color: #fff;
  text-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.miniplayer .miniplayer-img,
.miniplayer .miniplayer-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
