<script>
  var loadDeferredStyles = function() {
    var addStylesNodes = document.querySelectorAll('#deferred-styles');

    for (let i = 0; i < addStylesNodes.length; i++) {
      var replacement = document.createElement('div');
      replacement.innerHTML = addStylesNodes[i].textContent;
      document.body.appendChild(replacement)
      addStylesNodes[i].parentElement.removeChild(addStylesNodes[i]);
    }
  };
  var raf = requestAnimationFrame || mozRequestAnimationFrame ||
      webkitRequestAnimationFrame || msRequestAnimationFrame;
  if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
  else window.addEventListener('load', loadDeferredStyles);
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="grid-color-fly.js"></script>
